* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    text-rendering: optimizeLegibility;
    height: 100vh;
    height: 100dvh;
    height: 100svh;
}

main {
    margin: auto;
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
    flex: 1 0 0;
    align-self: stretch;
    background: linear-gradient(to bottom, black, #161617, #1d1d1f);
    padding: 0 24px;
}

.logo {
    width: max-content;
    height: 32px;
}

.logo path {
    fill: #F5F5F7
}

.tally {
    max-width: 320px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background: #F5A500;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 24px;
    width: 100%;
}

.tally-content {
    display: flex;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    height: 100%;
}

.tally-number {
    font: 700 60px / 100% monospace;
    letter-spacing: -0.075rem;
    overflow: hidden;
    color: #1D1D1F;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.footer {
    display: flex;
    padding: 3rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}

.buttons {
    display: flex;
    max-width: 320px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
}

.button-large {
    position: relative;
    display: inline-flex;
    min-width: 6rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.5rem;
    border: 1px solid #d2d2d7;
    background: #FBFBFD;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.12) inset, 0 8px 0 0 #ACACB1;
    cursor: pointer;
    transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-large-icon {
    height: 48px;
    width: 48px;
}

.button-large-icon path {
    fill: #1d1d1f;
}

.button-shortcut {
    position: absolute;
    font: 400 16px / 100% monospace;
    letter-spacing: -0.075rem;
    right: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1D1D1F;
}

.button-large:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.12) inset, 0 10px 0 0 #ACACB1;
}

.button-large:active {
    transform: translateY(8px);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.12) inset, 0 0 0 0 #ACACB1;
}

.button-large:focus {
    outline: none;
}

#button-add {
    width: 100%;
}